/* Custom font decleration */
@font-face {
    font-family: 'Bold';
    src: url('./assets/fonts/PublicaSans-Bold.otf') format('opentype');
}
  
@font-face {
    font-family: 'Medium';
    src: url('./assets/fonts/PublicaSans-Medium.otf') format('opentype');
}
  
@font-face {
    font-family: 'Light';
    src: url('./assets/fonts/PublicaSans-Light.otf') format('opentype');
}

/* Variables for common Values*/
:root {
    --font-medium: 'Medium';
    --font-light: 'Light';
    --font-bold: 'Bold';
    --padding-small: 4px;
    --padding-medium: 15px;
    --padding-large: 32px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 -2px 4px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.06), 0 -2px 4px rgba(0, 0, 0, 0.06);
    --box-shadow-hover: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

/* Card styling */
.card {
    width: 275px;
    height: 520px;
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    padding: var(--padding-medium);
    margin: 15px;
}
  
.card:hover {
    box-shadow: var(--box-shadow-hover);  
}

/* Top of the card styling */
.cardTop {
    display: inline-flex;
}

.logo {
    width: 35px;
    height: 55px;
    padding-right: 10px;
}

.companyName {
    color: #8b8b8b;
    padding: 2px 0;
    letter-spacing: 2px;
    font-family: var(--font-medium);
}

.position {
    font-family: var(--font-light);
    padding-top: 5px;
    text-transform: capitalize;
}
  
.location {
    font-family: var(--font-medium);
    font-size: x-small;
    padding: var(--padding-small) 0;
    text-transform: capitalize;
}

/* Salary styling */
.salary {
    padding: var(--padding-small) 0;
    color: var(--color-text-dark);
    font-family: var(--font-medium);
    font-size: 14px;
    font-weight: 550;
    display: flex;
    align-items: center;
}
  
.salary > div {
    padding-right: 3px;
}
/* green tick styling */
.material-symbols-outlined {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    color: green;
}

/* About company styling */
.aboutCompany {
    font-family: var(--font-medium);
}

/* About us styling */
.aboutUs {
    font-family: var(--font-light);
    font-weight: 100;
    padding: 0 2px;
    position: relative;
    margin: 0 auto;
}

/* See more styling */
.seeMore {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}