/* Custom font decleration */
@font-face {
    font-family: 'Bold';
    src: url('./assets/fonts/PublicaSans-Bold.otf') format('opentype');
}
  
@font-face {
    font-family: 'Medium';
    src: url('./assets/fonts/PublicaSans-Medium.otf') format('opentype');
}
  
@font-face {
    font-family: 'Light';
    src: url('./assets/fonts/PublicaSans-Light.otf') format('opentype');
}

/* Variables for common Values*/
:root {
    --font-medium: 'Medium';
    --font-light: 'Light';
    --font-bold: 'Bold';
    --color-primary: #54efc3;
    --color-primary-hover: #12edaf;
    --color-secondary: #4943da;
    --color-secondary-hover: #3029e3;
    --color-text-dark: darkslategrey;
    --color-text-gray: gray;
    --padding-small: 4px;
    --padding-medium: 15px;
    --padding-large: 32px;
    --border-radius: 10px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 -2px 4px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.06), 0 -2px 4px rgba(0, 0, 0, 0.06);
    --box-shadow-hover: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

/* Card styling */
.card {
    width: 275px;
    height: 530px;
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    padding: var(--padding-medium);
    margin: 15px;
}
  
.card:hover {
    box-shadow: var(--box-shadow-hover);  
}

/* Top of the card styling */
.cardTop {
    display: inline-flex;
}

.logo {
    width: 35px;
    height: 55px;
    padding-right: 10px;
}

.companyName {
    color: #8b8b8b;
    padding: 2px 0;
    letter-spacing: 2px;
    font-family: var(--font-medium);
}

.position {
    font-family: var(--font-light);
    padding-top: 5px;
    text-transform: capitalize;
}
  
.location {
    font-family: var(--font-medium);
    font-size: x-small;
    padding: var(--padding-small) 0;
    text-transform: capitalize;
}

/* Salary styling */
.salary {
    padding: var(--padding-small) 0;
    color: var(--color-text-dark);
    font-family: var(--font-medium);
    font-size: 14px;
    font-weight: 550;
    display: flex;
    align-items: center;
}
  
.salary > div {
    padding-right: 3px;
}
/* green tick styling */
.material-symbols-outlined {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    color: green;
}

/* About company styling */
.aboutCompany {
    font-family: var(--font-medium);
}

/* About us styling */
.aboutUs {
    font-family: var(--font-light);
    font-weight: 100;
    padding: 0 2px;
    position: relative;
    margin: 0 auto;
}

/* Bottom overflow fade styling */
.bottom-overflow-fade {
    mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
    overflow: hidden;
}

/* view job styling */
.viewJob {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}

/* Experience styling */
.experience {
    font-family: var(--font-light);
    padding-top: 16px;
    letter-spacing: 2px;
    color: var(--color-text-gray);
    font-size: 14px;
    font-weight: 900;
  }
  
/* Experience year styling */
.exp-year {
    padding: 6px 0 5px;
    font-family: var(--font-light);
}
  
/* Button styling */
.applyButton {
    background-color: var(--color-primary);
    padding: 12px var(--padding-large);
    text-align: center;
    display: inline-block;
    font-family: var(--font-medium);
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    border-radius: var(--border-radius);
}
  
.applyButton:hover {
    background-color: var(--color-primary-hover);
}

/* Button styling */
.referralsButton {
    background-color: var(--color-secondary);
    color: white;
    padding: 15px var(--padding-large);
    text-align: center;
    display: inline-block;
    font-family: var(--font-light);
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    border-radius: var(--border-radius);
}
  
.referralsButton:hover {
    background-color: var(--color-secondary-hover);
}
